#title {
    font-size: 65px;
    text-align:center;
}

#container {
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

#index {
    font-size: 120px;
    border-bottom: 1px solid black;
}

#location {
    font-size: 60px;
}

.status-green {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.status-yellow {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

.status-orange {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}

.status-red {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}
